<!DOCTYPE html>
<html>
<link rel = "stylesheet" href = "main.css">
<body onload = "onload()">
    <div id = "header"><h1 class = "navItem">Cogitator</h1><a href = "/" class = "navLink"><div class = "navItem">Simulation</div></a><a href = "/units" class = "navLink"><div class = "navItem">Units</div></a></div>
    {{{body}}}
    <div id = "footer">
        <i>Tyler Bernardo, 2024</i>
    </div>
</body>

</html>
