<script src="https://d3js.org/d3.v4.js"></script>
<link rel = "stylesheet" href = "style.css">
<body onload = "onload()">
<div id = "flexCon">
    <div id = "simData">
        <form id = "simDataForm" data-autoFilled = "{{dataFilled}}">
            <h3>Attacking Unit</h3>
            <div id = "attacker">
                {{> fancyButton label="Attacks" prefill=attacks id="fAttacks" name="fAttacks"}}

                {{> fancyButton label="WS" prefill=ws id="fWS" name="fWS"}}

                {{> fancyButton label="Strength" prefill=strength id="fStrength" name="fStrength"}}

                {{> fancyButton label="AP" prefill=ap id="fAP" name="fAP"}}
            </div>
            
            <hr>
            <h3>Defending Unit</h3>
            <div id = "defender">
                {{> fancyButton label="Toughness" prefill=toughness id="tToughness" name="tToughness"}}
                {{> fancyButton label="Armor Save" prefill=save id="tSave" name="tSave"}}
            </div>
            
            <hr>
            <h3>Modifiers</h3>
            <div id = "keywords">
                
            </div>
            <div id = "buttons">
                <button id = "submit">Simulate Resuts</button>
                <button id = "save">Save Setup</button>
            </div>
        </form>
        <br>


    </div>
                
    <div id = "simGraphs">
        <div id = "chartResize">
            <canvas id="cdfGraph"></canvas>
        </div>
        
    </div>
</div>

<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js
"></script>

<script src = "main.js"></script>

</body>

