

<body>
<h1>Load Unit</h1>

<div id = "unitSelection/">
    <div id = "attackerSelection">
        <select id = "aFaction">
            <option value = "">Choose a Faction</option>
            {{#each Factions}}
                <option value = "{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <select id = "aUnits"></select>
    </div>
    <div id = "defenderSelection">
            <select id = "dFaction">
                <option value = "">Choose a Faction</option>
                {{#each Factions}}
                    <option value = "{{this}}">{{this}}</option>
                {{/each}}
        </select>
        <select id = "dUnits"></select>
    </div>
</div>

<div id = "preview">

</div>

<ul id = "scenarios">
    {{#each Units}}
        {{> dataCard}}
    {{/each}}
</ul>


<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js
"></script>
<script src="handlebars.runtime.js"></script>
<script src = "dataCardTemplate.js"></script>
<script src = "unitData.js"></script>

<script src = "view.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<link rel = "stylesheet" href = "view.css">

</body>