body{
    padding:0px;
    margin:0px;
}

#header{
    vertical-align:top;
}

h1.navItem,a.navLink{
    display:inline-block; 
    overflow:hidden;
}

.navLink{
    margin:0px;

    width:20%;
    height:100%;
    padding-top:35px;
    padding-bottom:35px;

    border-left:#2d3b45 2px solid;
    vertical-align:top;
    text-align:center;
}

.navLink:last-child{
    border-right:#2d3b45 2px solid;
}

.navLink:hover{
    background-color:silver;
}

h1.navItem{
    padding-left:10px;
    padding-right:30px;
}

#header, #footer{
    background-color:lightgray;
}

#footer{
    border-radius: 20px 20px 0px 0px;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    
    width:100%;
}

#content{
    min-height:calc(100vh - 58.5px - 88.5px - 20px);
}